* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: aliceblue;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content-img {
    border: 0px solid #42515f;
}

.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #82A70C;
    padding-left: 10px;
    text-transform: capitalize;
}

.emp-payroll {
    color: #42515f;
}

/*UC2*/
.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.sub-main-content {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.emp-details-text {
    font-family: Roboto;
    font: normal normal bold italic 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.emp-count {
    background-color: #82a70c;
    color: #ffffff;
    border-radius: 50%;
    font-size: 15px;
    width: 40px;
    text-align: center;
    display: inline-block;
}

.add-button {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0px;
    color: #ffffff;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 9px;
    opacity: 1;
    border: 2px solid #969696;
    padding: 7px 7px;
    padding-top: 12px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

.plus-icon {
    padding-right: 5px;
    padding-left: 2px;
}

/*UC3*/
.table-main {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
}

td,
th {
    text-align: left;
    padding: 5px 8px;
}

.tr {
    background: #1b2630 0% 0% no-repeat padding-box;
}

.th {
    background-color: #1b2630;
    background: #1b2630 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    border: 0px solid #dddddd;
}

tr:not(:first-child) {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

td {
    font: normal normal normal 17px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}

td:first-child {
    display: flex;
    align-items: center;
}

td img:first-child {
    margin-right: 10px;
}

td img {
    cursor: pointer;
}

.dept-label {
    background-color: #e9fea5;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}